
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>
<h4 class="alert alert-info">
    Now You can change Your Password
</h4>
<form method="post">
    <div class="form-inline">
        <input type="password" placeholder="New Password" name="txtPassword" id="txtPassword" class="form-control" onkeyup="CheckPasswordStrength(this.value)" />
        <span id="password_strength" style="margin-left:20px"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="password" placeholder="New Password" name="txtCPassword" id="txtCPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Change Password" />

    </div>
</form>
<script type="text/javascript">
    function CheckPasswordStrength(password) {
        var password_strength = document.getElementById("password_strength");
        //TextBox left blank.
        if (password.length == 0) {
            password_strength.innerHTML = "";
            return;
        }
        //Regular Expressions.
        var regex = new Array();
        regex.push("[A-Z]"); //Uppercase Alphabet.
        regex.push("[a-z]"); //Lowercase Alphabet.
        regex.push("[0-9]"); //Digit.
        regex.push("[$@@$!%*#?&]"); //Special Character.
        var passed = 0;
        //Validate for each Regular Expression.
        for (var i = 0; i < regex.length; i++) {
            if (new RegExp(regex[i]).test(password)) {
                passed++;
            }
        }
        //Validate for length of Password.
        if (passed > 2 && password.length > 8) {
            passed++;
        }
        //Display status.
        var color = "";
        var strength = "";
        switch (passed) {
            case 0:
            case 1:
                strength = "Weak";
                color = "red";
                break;
            case 2:
                strength = "Good";
                color = "darkorange";
                break;
            case 3:
            case 4:
                strength = "Strong";
                color = "green";
                break;
            case 5:
                strength = "Very Strong";
                color = "darkgreen";
                break;
        }
        password_strength.innerHTML = strength;
        password_strength.style.color = color;
    }
</script>

