
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgetPassword</h2>
<div class="row">
    <p class="alert alert-info"> We have Sent an OTP to your Registered Email Address, Check  your Mail and validate your Email by giving that OTP</p>
</div>

<div class="row">
    <form method="post">
        <br />
        <input type="text" name="txtOTP" id="txtOTP" class="form-control" placeholder="Validation OTP" value="@Session["OTP"]" />
        <br />
        <div class="row">
            <div class="col-6">
                <input type="button" name="btnValidate" value="Validate" onclick="return Validate()" class="btn btn-outline-info" />
            </div>
            <div class="col-6">
                <input type="button" name="btnValidate" value="Send Again" class="btn btn-outline-info" />
            </div>
        </div>
    </form>
</div>
<script>
    function Validate() {
        var otp = document.getElementById("txtOTP").value;
        var votp = @Session["OTP"].ToString();
        //alert(otp);
        if (otp == votp) {
            alert("E-Mail Validated, Now you can change your password");
            window.location.href = "@Url.Action("ChangePassword","Home")";
        }
    }
</script>




