@model KeenConveyance.Areas.Admin.Models.tblUser
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="dt-center">
    
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <h1 class="alert-light">@Html.DisplayFor(model => model.FirstName)'s Profile</h1>
                </div>
                <div class="row">
                    <h5 class="fa fa-envelope"> Email Address </h5>
                    <h4 style="text-align:left"><br />@Html.DisplayFor(model => model.EmailId)</h4>
                </div>
                <div class="row">
                    <h5 class="fa fa-phone"> Contact No </h5>
                     <h4 style="text-align:left"><br />@Html.DisplayFor(model => model.ContactNo)</h4>
                </div>
                <div class="row">
                    <h4>
                        IsActive : @if (Model.IsActive == true)
                        {
                            <div class="custom-control custom-switch" style="float:right;margin-left:10px">
                                <input type="checkbox" disabled checked class="custom-control-input" id="active_@Model.UserId">
                                <label class="custom-control-label" for="active_@Model.UserId"></label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-switch" style="float:right;margin-left:10px">
                                <input type="checkbox" disabled class="custom-control-input" id="active_@Model.UserId">
                                <label class="custom-control-label" for="active_@Model.UserId"></label>
                            </div>
                        }
                    </h4>
                </div>
                <div class="row">
                    <h4>
                        IsVerified : @if (Model.IsVerified == true)
                        {
                            <div class="custom-control custom-switch" style="float:right;margin-left:10px">
                                <input type="checkbox" disabled checked class="custom-control-input" id="active_@Model.UserId">
                                <label class="custom-control-label" for="active_@Model.UserId"></label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-switch" style="float:right;margin-left:10px">
                                <input type="checkbox" disabled class="custom-control-input" id="active_@Model.UserId">
                                <label class="custom-control-label" for="active_@Model.UserId"></label>
                            </div>
                        }
                    </h4>
                </div>
                <div class="row">
                    <h4>
                        IsMobileVerified : @if (Model.IsMobileVerified == true)
                        {
                            <div class="custom-control custom-switch" style="float:right;margin-left:10px">
                                <input type="checkbox" disabled checked class="custom-control-input" id="active_@Model.UserId">
                                <label class="custom-control-label" for="active_@Model.UserId"></label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-switch" style="float:right;margin-left:10px">
                                <input type="checkbox" disabled class="custom-control-input" id="active_@Model.UserId">
                                <label class="custom-control-label" for="active_@Model.UserId"></label>
                            </div>
                        }
                    </h4>
                </div>
            </div>
        </div>
    
</div>
@*<script>
    function activate(id) {
        $.ajax(
            {
                type: "POST",
                url: "@Url.Action("Active","User")" + "/" + id,
                success: function (response) {
                    if (response == true) {
                        alert("Account activated");
                    }
                    else {
                        alert("Accout deactivated");
                    }
                },
                failure: function (response) {
                    alert('Fail - ' + response.responseText);
                },
                error: function (response) {
                    alert('Error - ' + response.responseText);
                }
            });
    }
</script>*@


