
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<!-- template from http://getbootstrap.com/getting-started -->

<html lang="en">
<head>

    <script>
        function validate() {
            var name = document.registration.txtName;
	    var email = document.registration.txtEmail;
            var cno = document.registration.txtCno;
            var message= document.registration.txtMessage;

            var name_pat = /^[A-Za-z]+$/;
            if (name.value != "" && name.value.match(name_pat)) {
            }
            else {
                alert("Name is not Proper");
                name.focus();
                return false;
            }
	    //var email_pat =/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (email.value != "" ) {
            }
            else {
                alert("Email is not proper");
                email.focus();
                return false;
            }
	   var cno_pat = /^\d{10}$/;
            if (cno.value != "" && cno.value.match(cno_pat)) {
            }
            else {
                alert("Contact number is not Proper");
                cno.focus();
                return false;
            }
            var message_pat = /^[A-Za-z]+$/;
	 if (message.value != "" && message.value.match(message_pat)) {
            }
            else {
                alert("Message is not Proper");
                message.focus();
                return false;
            }

	return true;
        }
    </script>
</head>
<body>
    <div class="container p-5">
        <center>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.566125369142!2d72.78574931476659!3d21.209387985900793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04c3bb22d3cf1%3A0xeb66c940a46828f3!2sRenown%20Infosys!5e0!3m2!1sen!2sin!4v1586853455532!5m2!1sen!2sin" width="1100" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </center>
    </div>
    <form method="post">
        <div class="row offset-2" style="margin-top:20px;">
            <div class="col-md-4 col-lg-offset-1 ">
                <h2> Contact Us </h2>
                <div class="form-group" style="margin-top:30px">
                    <input name="txtName" type="text" id="txtName" class="form-control" placeholder="Name" Required="" />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input name="txtEMail" type="text" id="txtEMail" class="form-control" placeholder="E-Mail Address" Required="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input name="txtContact" type="text" id="txtContact" class="form-control" placeholder="Contact Number" Required="" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="txtSubject" id="txtSubject" placeholder="Subject " class="form-control" required="" />
                </div>
                <div class="form-group">
                    <textarea name="txtMessage" rows="2" cols="20" id="txtMessage" placeholder=" " class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" name="btnSubmit" value="Send Message" id="btnSubmit" class="btn btn-primary" onclick="return validate();" />
                </div>
            </div>
            <div class="col-md-6 offset-1">
                <h2 style="font-family:open sans;font-weight:normal;margin-bottom:38px;">Contact Info</h2>
                <div class="row">
                    <div id="rand_7yidepwo6juj886stm0v" class="zolo-icon-box circle thick_bordered none" style="font-size:22px;line-height:22px;width:60px;height:60px;color:#f8c200">
                        <i class="zolo-icon fa fa-home">

                        </i>
                        <span class="zolo_icon_shape" style="  box-shadow: 0 0 0 3px #f8c200 inset;"></span>
                    </div>
                    <div class="zolo-icon-content">
                        <p style="font-family:open sans;">
                            4, Bhagyoday Society,
                            B/H BSNL Office,
                            Palanpur Patia, Rander Road,<br>
                            Surat 395009
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div id="rand_0evivjsv40ro9tc64clw" class="zolo-icon-box circle thick_bordered none" style="font-size:22px;line-height:22px;width:60px;height:60px;color:#f8c200">
                        <i class="zolo-icon fa fa-phone-square"></i>
                        <span class="zolo_icon_shape" style="  box-shadow: 0 0 0 3px #f8c200 inset;"></span>
                    </div>
                    <div class="zolo-icon-content"><p style="font-family:open sans;">1601-609 6780</p></div>
                </div>
                <div class="row">
                    <div id="rand_b2qnbefqjcbpibo5n0v9" class="zolo-icon-box circle thick_bordered none" style="font-size:22px;line-height:22px;width:60px;height:60px;color:#f8c200">
                        <i class="zolo-icon fa fa-envelope"></i>
                        <span class="zolo_icon_shape" style="  box-shadow: 0 0 0 3px #f8c200 inset;"></span>
                    </div>
                    <div class="zolo-icon-content"><p style="font-family:open sans;"> keenconveyance@gmail.com</p></div>
                </div>
            </div>
        </div>
    </form>
    <div  class="row">
        <div class="col-md-12">
            <center><a href="@Url.Action("Feedback","ClientContact")" class="primary">Give Feedback</a></center>
        </div>
    </div>
</body>
</html>

