
@{
    ViewBag.Title = "ColdStorage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .centered {
            position: absolute;
            bottom: -100px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<div class="row py-3">
    <center>

        <img src="~/Images/cold1.jpg" style="height:550px;width:1520px;" />
        <div class="centered">
            <h1 class="py-2" style="font-size:70px;color:white;">Cold Storage Service</h1>
        </div>
    </center>
</div>
<div class="row py-lg-1">
    <center>
        <p>
            <b>
                The cold storage business in India will have exponential growth in the coming few years.
            </b>
        </p>
    </center>
</div>
<div class="row py-3">
    <div class="col-md-2">
        <img src="~/Images/cold2.jpg" style="height:400px;width:600px;" />
    </div>
    <div class="col-md-6 offset-4">
        <p>
            The cold storage business in India will have exponential growth in the coming few years. The capacity is much less than required with potatoes using more 
            than 60% of the available capacity. Still potatoes farmers are not getting their price due to lack of storage capacities. Cold storage in India stores not only for fruits and vegetables but also meat, seafood, poultry, dairy products, and medicines.
        </p>
        <p>
            The cold storage information in India tells us that there is a huge gap between the need and availability of a storage facility for fruits and vegetables. As a result, there is a huge potential for additional storage capacity. Hence, the cold storage price should not be a deterrent for new entrants.
        </p>
    </div>
</div>


