
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Our Services</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/Images/ocean.jpg" alt="">
                    </div>
                    <div class="service_info">
                        <h3>Ocean Freight</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/Images/land.jpg" alt="">
                    </div>
                    <div class="service_info">
                        <h3>Land Transport</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/Images/air.jpg" alt="">
                    </div>
                    <div class="service_info">
                        <h3>Air Freight</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/Images/flame1.jpg" alt="">
                    </div>
                    <div class="service_info">
                        <h3>Flamable Service</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/Images/delicate1.jpg" alt="">
                    </div>
                    <div class="service_info">
                        <h3>Delicate Service</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="single_service">
                    <div class="thumb">
                        <img src="~/Images/cold1.jpg" alt="">
                    </div>
                    <div class="service_info">
                        <h3>Cold Storage Service</h3>
                        <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ service_area  -->
