
@{
    ViewBag.Title = "Land";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .centered {
            position: absolute;
            bottom: -100px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<div class="row py-3">
    <center>

        <img src="~/Images/land.jpg" style="height:550px;width:1520px;" />
        <div class="centered">
            <h1 class="py-2" style="font-size:70px;color:white;">Land Transport</h1>
        </div>
    </center>
</div>
<div class="row py-lg-1">
    <center>
        <p>
            <b>
                A road is an identifiable route, way or path between two or more places. Roads are typically smoothed, paved, or otherwise prepared to allow easy travel;
                though they need not be, and historically many roads were simply recognizable routes without any formal construction or maintenance. 
                In urban areas, roads may pass through a city or village and be named as streets, serving a dual function as urban space easement and route.
            </b>
        </p>
    </center>
</div>
<div class="row py-3">
    <div class="col-md-2">
        <img src="~/Images/land1.jpg" style="height:400px;width:600px;" />
    </div>
    <div class="col-md-6 offset-4">
        <p>
            A vehicle is any non-living device that is used to move people and goods. Unlike the infrastructure, the vehicle moves along with the cargo and riders. Unless being pulled by a cable or muscle-power, the vehicle must provide its own propulsion; this is most commonly done through a steam engine, combustion engine, or electric motor, though other means of propulsion also exist. Vehicles also need a system of converting the energy into movement; this is most commonly done through wheels, propellers and pressure.
</p>
        <p>
            Vehicles are most commonly staffed by a driver. However, some systems, such as people movers and some rapid transits, are fully automated. For passenger transport, the vehicle must have a compartment for the passengers. Simple vehicles, such as automobiles, bicycles or simple aircraft, may have one of the passengers as a driver.
        </p>
    </div>
</div>

