
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<script>
        function validate() {
            var fname = document.registration.txtFirstName;
            var lname = document.registration.txtLastName;
            var email = document.registration.txtEmailId;
            var password = document.registration.txtPwd;
            var cno = document.registration.txtCno;
            var fname_pat = /^[A-Za-z]+$/;
            if (fname.value != "" && fname.value.match(fname_pat)) {
            }
            else {
                alert("FirstName is not Proper");
                fname.focus();
                return false;
            }
            var lname_pat = /^[A-Za-z]+$/;
            if (lname.value != "" && lname.value.match(lname_pat)) {
            }
            else {
                alert("LastName is not Proper");
                lname.focus();
                return false;
            }
            var email_pat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (email.value != "" && email.value.match(email_pat)) {
            }
            else {
                alert("Email is not Proper");
                email.focus();
                return false;
            }
            var pass_pat = /^[A-Za-z]\w{7,14}$/;
            if (password != "" && password.value.match(pass_pat)) {
            }
            else {
                alert("Password is not Proper");
                password.focus();
                return false;
            }
            var cno_pat = /^\d{10}$/;
            if (cno.value != "" && cno.value.match(cno_pat)) {
            }
            else {
                alert("Contact number is not Proper");
                cno.focus();
                return false;
            }
           
            return true;
        }
</script>

<div class="p-2">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a href="@Url.Action("Index","ClientUser")" class="btn btn-primary">
                    <i class="fa fa-step-backward"></i>
                </a>
            </h6><br />

        </div>
        <div class="card-body bg-dark">
            <form class="user" method="post" name="registration" enctype="multipart/form-data">
                <center><h2 style="color:azure">Registration</h2></center><br />
                <div class="form-group row">
                    <div class="col-sm-5 mb-3 mb-sm-3">
                        <input type="text" class="form-control" name="txtFirstName" placeholder="Your FirstName" maxlength="15">
                    </div>
                    <div class="col-sm-5 mb-3 mb-sm-0">
                        <input type="text" class="form-control" name="txtLastName" placeholder="Your LastName">
                    </div>
                </div>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="txtprofile" placeholder="ProfilePic"><br />
                </div>
                <div class="form-group row">
                    <div class="col-sm-5 mb-3 mb-sm-0">
                        <input type="email" class="form-control" name="txtEmailId" placeholder="Your EmailId">
                    </div>
                    <div class="col-sm-5 mb-3 mb-sm-0">
                        <input type="password" class="form-control" name="txtPwd" placeholder=" Your Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <h4 style="color:azure">Gender : </h4>
                        <input type="radio" id="male" name="gender" value="male" checked>
                        <label for="male">Male</label>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">Female</label><br>

                    </div>
                    <div class="col-sm-10 mb-3 mb-sm-0">
                        <input type="text" class="form-control" name="txtCno" placeholder="Your ContactNumber"><br />
                    </div>
                </div>

                <input type="submit" value="Create User" class="btn btn-success" onclick="return validate();" />
            </form>
        </div>
    </div>
</div>