
@{
    ViewBag.Title = "Insert";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Insert</h2>
@section scripts
{
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <script>
        function validate() {
            var name = document.registration.txtName;
            var email = document.registration.txtEmail;
            var password = document.registration.txtPwd;
            var cno = document.registration.txtCno;
            var createdby = document.registration.txtCreatedBy;
            var name_pat = /^[A-Za-z]+$/;
            if (name.value != "" && name.value.match(name_pat)) {
            }
            else {
                alert("Name is not Proper");
                name.focus();
                return false;
            }
            var email_pat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (email.value != "" && email.value.match(email_pat)) {
            }
            else {
                alert("Email is not Proper");
                email.focus();
                return false;
            }
            var pass_pat = /^[A-Za-z]\w{7,14}$/;
            if (password != "" && password.value.match(pass_pat)) {
            }
            else {
                alert("Wrong Password or Password does not match");
                password.focus();
                return false;
            }
            var cno_pat = /^[0-9]+$/;
            if (cno.value != "" && cno.value.match(cno_pat)) {
            }
            else {
                alert("Contact number is not Proper");
                cno.focus();
                return false;
            }
            if (createdby.value != "") {

            }
            else {
                alert("fill the field");
                createdby.focus();
                return false;
            }
            return true;
        }
    </script>
}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add New Admin</h6>
        </div>
        <div class="card-body">
            <form class="user" method="post" name="registration">
                <div class="form-group row">
                    <div class="col-sm-10 mb-3 mb-sm-0">
                        <input type="text" class="form-control" name="txtName" placeholder="Admin Name">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5 mb-3 mb-sm-0">
                        <input type="email" class="form-control" name="txtEmail" placeholder="Email Address">
                    </div>
                 <div class="col-sm-5 mb-3 mb-sm-0">
                        <input type="password" class="form-control" name="txtPwd" placeholder="Enter Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5 mb-3 mb-sm-0">
                        <input type="text" class="form-control" name="txtCno" placeholder="Contact Number"><br />
                    </div>
                    <div class="col-sm-5 mb-3 mb-sm-0">
                        <input type="text" class="form-control" name="txtCreatedBy" placeholder="CreatedBy">
                    </div>
                </div>

                <input type="submit" value="Create Admin" class="btn btn-success"  onclick="return validate();"/>
            </form>
        </div>
    </div>

@*<!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>
    </body>
    </html>*@
@*<h2>Add Admin Details</h2><hr />
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <form method="post" name="registration" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" name="txtName" class="form-control" placeholder="Enter Your Name" /><br />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtEmail" id="txtEmail" class="form-control" placeholder="Enter Your EmailID" onblur="return checkEmail(this.value)" /><br />
                    </div>
                    <div class="form-group">
                        <input type="password" name="txtPwd" class="form-control" placeholder="Enter Your Password" /><br />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtCno" class="form-control" placeholder="Enter Your ContactNo" /><br />
                    </div>
                    @*<div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <input type="file" accept="image/*" onchange="return loadFile(event)" id="txtFile" name="txtFile" class="form-control-file" placeholder="Select your profilepic" /><br />
                                </div>
                            </div>
                            <div class="col-6">
                                <img src="#" name="txtProfile" id="txtProfile" class="img img-thumbnail" style="height:100px;width:100px;" hidden />
                            </div>
                        </div>
                    <input type="text" name="txtCreatedBy" class="form-control" placeholder="Enter Your AdminId" /><br />
                    <input type="submit" name="submit" value="Submit" class="btn btn-lg btn-success" onclick="return validate()" />
                </form>
            </div>
        </div>
    </div>
    @*<script>
            var loadFile = function (event) {
                var output = document.getElementById('txtProfile');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.hidden = false;
            };
        </script>
        <script>
            function checkEmail(val) {
                if (val != "") {
                    $.ajax(
                        {
                            type: "POST",
                            url: "@Url.Action("checkEmail","Admin")",
                            data: { id: val },
                            success: function (response) {
                                if (response == "false") {
                                }
                                else {
                                    alert("Email already exist");
                                    $('#txtEmail').val("");
                                    $('#txtEmail').focus();
                                }
                            },
                            failure: function (response) {
                                alert('Fail - ' + response.responseText);
                            },
                            error: function (response) {
                                alert('Error - ' + response.responseText);
                            }
                        });
                }
            }
        </script>*@
