
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function validate() {
        var date = document.registration.txtDate;
        var file = document.registration.txtFile;
        var utype = document.registration.unittype;
        var uvalue = document.registration.txtValue;
        var distance = document.registration.txtDistance;
        var check = document.registration.chkflame;
        if (date.value != "" ) {
        }
        else {
            alert("Dispatchdate is not Proper");
            date.focus();
            return false;
        }
        if (file.value != "") {
        }
        else {
            alert("choose image");
            file.focus();
            return false;
        }
        if (utype.value != "") {
        }
        else {
            alert("Select UnitType");
            utype.focus();
            return false;
        }
        if (uvalue.value != "") {
        }
        else {
            alert("UnitValue is not proper");
            uvalue.focus();
            return false;
        }
        if (distance.value != "") {
        }
        else {
            alert("Estimated Distance is not proper");
            distance.focus();
            return false;
        }
        if (!registration.chkflame.checked && !registration.chkdelicate.checked && !registration.chkrefregerated.checked) {
        
            alert("Select Consignment ");
            check.focus();
            return false;
        }
        return true;
    }
</script>

<center>
    <div class="p-2">
        <div class="card shadow mb-4" style="width:1000px;height:500px;">
            <div class="card-header py-3">
                <center><h4 class="m-0 font-weight-bold text-primary">Add Consignment</h4></center>
            </div>
            <div class="card-body">
                <form class="user" method="post" name="registration" enctype="multipart/form-data">
                    <div class="row">
                        <label for="txtDate">Dispatch Date : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 mb-3 mb-sm-0">
                            <input type="date" class="form-control" name="txtDate" placeholder="Dispatch Date">
                        </div>
                    </div>
                    <div class="row">
                        <label for="txtFile">Consignment Image : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 mb-3 mb-sm-0">
                            <input type="file" multiple="multiple" class="form-control" name="txtFile" placeholder="Image of consignment">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <select name="unittype" class="form-control form-control-user">
                                <option value="">Select Unit Type &nbsp;&nbsp;</option>
                                <option value="Weight"> Weight &nbsp;&nbsp;</option>
                                <option value="Pieces"> Pieces &nbsp;&nbsp;</option>
                                <option value="LTR"> Ltr &nbsp;&nbsp;</option>
                            </select>
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="number" class="form-control" name="txtValue" placeholder="Value of Unit" min="1" max="1000000">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 mb-3 mb-sm-0">
                            <input type="number" class="form-control" name="txtDistance" placeholder="Estimated Distance" min="1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="chkflame">Flamable Consignment : &nbsp;</label>
                            <input type="checkbox" name="chkflame" />
                        </div>
                        <div class="col-lg-4">
                            <label for="chkflame">Delicate Consignment : &nbsp;</label>
                            <input type="checkbox" name="chkdelicate" />
                        </div>
                        <div class="col-lg-4">
                            <label for="chkflame">Refregerated Consignment : &nbsp;</label>
                            <input type="checkbox" name="chkrefregerated" />
                        </div>
                    </div><br /><br /><br />
                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="submit" class="btn btn-primary" id="nextBtn" onclick="return validate();">Next</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</center>