
@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div class="p-2">
        <div class="card shadow mb-4" style="width:1000px;height:500px;">
            <div class="card-header py-3">
                <center><h4 class="m-0 font-weight-bold text-primary">Add Consignment</h4></center>
            </div>
            <div class="card-body">
                <form class="user" method="post" name="registration" enctype="multipart/form-data">
                    <div class="row">
                        <label for="txtDate">Dispatch Date : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 mb-3 mb-sm-0">
                            <input type="date" class="form-control" name="txtDate" placeholder="Dispatch Date">
                        </div>
                    </div>
                    <div class="row">
                        <label for="txtDate">Consignment Image : </label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 mb-3 mb-sm-0">
                            <input type="file" multiple class="form-control" name="txtFile" placeholder="Image of consignment">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <select name="unittype" class="form-control form-control-user">
                                <option value="">Select Unit Type &nbsp;&nbsp;</option>
                                <option value="W"> Weight &nbsp;&nbsp;</option>
                                <option value="P"> Pieces &nbsp;&nbsp;</option>
                                <option value="L"> ltr &nbsp;&nbsp;</option>
                            </select>
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control" name="txtValue" placeholder="Value of Unit">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <label for="chkflame">Flamable Consignment : &nbsp;</label>
                            <input type="checkbox" name="chkflame" value="Flamable Consignment" />
                        </div>
                        <div class="col-lg-4">
                            <label for="chkflame">Delicate Consignment : &nbsp;</label>
                            <input type="checkbox" name="chkdelicate" value="Delicate Consignment" />
                        </div>
                        <div class="col-lg-4">
                            <label for="chkflame">Refregerated Consignment : &nbsp;</label>
                            <input type="checkbox" name="chkrefregerated" value="Refregerated Consignment" />
                        </div>
                    </div><br /><br /><br />
                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="submit" class="btn btn-primary" id="nextBtn">Next</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</center>