@model KeenConveyance.Areas.Admin.Models.tblBill
@{
    ViewBag.Title = "bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<body>
    <form method="post">
        <center>
            <div class="table-responsive">
                <table class="table table-hover" style="height:200px;width:1000px;">
                    <tr style="text-align:left">
                <td>Company Name : @ViewBag.Company</td>
            </tr>
                    <tr style="background-color:skyblue;">
                        <th style="width:500px;">DESCRIPTION</th>
                        <th>PRICE</th>
                        <th>TALLTAX</th>
                    </tr>
                    <tr style="background-color:lightcyan;">
                        <td height="300px;">
                            <textarea cols="50" rows="10" style="border:hidden;" name="txtDesc"></textarea>
                        </td>
                        <td height="300px;">
                            <input type="text" style="border:hidden;" name="txtPrice" value="@ViewBag.TotalPrice" />
                            @*@ViewBag.Bill*@
                            
                        </td>
                        <td height="300px;">
                            <input type="text" style="border:hidden;" name="txtToll" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </td>
                    </tr>
                </table>
            </div>
        </center>
    </form>
</body>
</html>
