
@{
    ViewBag.Title = "Insert";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section scripts
{<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <script>
        function validate() {
            var name = document.registration.txtname;
            var image = document.registration.txtImage;
            var name_pat = /^[A-Za-z]+$/;
            if (name.value != "" && name.value.match(name_pat)) {
            }
            else {
                alert("Vehicle Type Name is not Proper");
                name.focus();
                return false;
            }
            if (image.value != "") {
            }
            else {
                alert("Choose image");
                name.focus();
                return false;
            }
            return true;
        }
    </script>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add New Vehicle Type</h6>
    </div>
    <div class="card-body">
        <form class="user" method="post" name="registration" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control" name="txtname" placeholder="Vehicle Type Name" onblur="return CheckType(this.value);">
                </div>
                <div class="col-sm-6">
                    <input type="file" accept="~/Images/" onchange="return loadFile(event);" class="form-control" id="txtImage" name="txtImage" placeholder="Logo">
                </div>
                <div class="col-4">
                    <img src="#" id="txtImage" name="txtImage" class="img-fluid img-thumbnail" style="width:100px;height:100px" hidden />
                </div>
            </div>
            <input type="submit" value="Create VehicleType" class="btn btn-success" onclick="return validate();" />
        </form>
    </div>
</div>
<script>
    var loadFile = function (event) {
        var output = document.getElementById('txtImage');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.hidden = false;
    };
</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
            function CheckType(val) {
                if (val != "") {
                    $.ajax(
                        {
                            type: "POST",
                            url: "@Url.Action("CheckType", "VehicleType")",
                            data: { id: val },
                            success: function (response) {
                                if (response == "false") {
                                }
                                else {
                                    alert("VehicleType already exist");
                                    $('#txtType').val("");
                                    $('#txtType').focus();
                                }
                            },
                            failure: function (response) {
                                alert('Fail - ' + response.responseText);
                            },
                            error: function (response) {
                                alert('Error - ' + response.responseText);
                            }
                        });
                }
            }
</script>


