@model KeenConveyance.Areas.Admin.Models.tblVehicleType
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <img src="~/Images/@Html.DisplayFor(model => model.TypeImage)" class="img-thumbnail" />
            <br />

            <br />
            <p>
                Member since <b> @Html.ViewBag.Year </b>
            </p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1 class="alert-light">@Html.DisplayFor(model => model.VehicleTypeId)'s vehicle</h1>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.TypeName)</h4>
            </div>
            
        </div>
    </div>
</div>
@*<script>
        function activate(id) {
            $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("Active","Company")" + "/" + id,
                    success: function (response) {
                        if (response == true) {
                            alert("Account activated");
                        }
                        else {
                            alert("Accout deactivated");
                        }
                    },
                    failure: function (response) {
                        alert('Fail - ' + response.responseText);
                    },
                    error: function (response) {
                        alert('Error - ' + response.responseText);
                    }
                });
        }
    </script>*@



